@font-face{
    font-family: "czcionka1";
    src: url("../images/fonts/Marcellus-Regular.ttf")
}
@font-face{
    font-family: "czcionka2";
    src: url("../images/fonts/NunitoSans_7pt_Condensed-Medium.ttf")
}

html{
    scroll-behavior: smooth;
}
@media all and (max-width: 1000px){
    
     #menu {
         font-family: czcionka1;
        position: fixed;
       width: 100%;
        height: 5em;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    #menu2 {
        position: fixed;
      display: flex;
      flex-direction: column;
     
      left: 5vw;
      z-index: 1;
      user-select: none;
    }
    #menu2 img{
        
        position: relative;
        top: -1%;
        left: -7%;
        width: 100px;
        height: 100px;
      
    }
    #menu2 a {
        text-decoration: none;
        
        color: #0a1525;
        opacity:1;
        font-size: calc(1.5vh + 1vw);
        font-weight: 400;
        transition: 200ms;

        &:hover {
            color: #baa881;
        }
    }

    ul {
        
      padding: 0;
      list-style-type: none;
    }

    #menu input
    {
        position: fixed;
      display: flex;
      width: 70px;
      height: 70px;
      position: absolute;
        top: 2vh;
        left: 3vw;
      cursor: pointer;
      opacity: 0;
      z-index: 2;
    }

    #menu span
    {
        position: fixed;
        display: flex;
        width: 60px;
        height: 5px;
        margin-bottom: 10px;
        position: relative;
        top: 3vh;
        left: 5vw;
        background: #ededed;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 10px 0px;
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                      opacity 0.55s ease;
        }

    #menu span:first-child
    {
      transform-origin: 0% 0%;
    }

    #menu span:nth-last-child(2)
    {
      transform-origin: 0% 100%;
    }

    #menu input:checked ~ span
    {
        z-index: 2;
      opacity: 1;
      transform: rotate(45deg) translate(-3px, -1px);
      background: #0a1525;
    }
    #menu input:checked ~ span:nth-last-child(3)
    {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    #menu input:checked ~ span:nth-last-child(2)
    {
      transform: rotate(-45deg) translate(0, -1px);
        background-color: #0a1525;
    }

    #menu2
    {
      position: fixed;
      width: 40vw;
      height: 100vh;
      margin: -50px 0 0 -50px;
      padding: 50px;
      padding-top: 125px;
      background-color: #ededed;
      transform-origin: 0% 0%;
      transform: translate(-100%, 0);
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }

    #menu2 li
    {
      padding: 10px 0;
      transition-delay: 2s;
    }

    #menu input:checked ~ ul
    {
      transform: none;
    }
    /*footer*/
    }
    footer img{
        height: 90px;
    }
    footer div:first-of-type{
        width: 80%;
        font-size: 20px;
    }


    footer{
        height: auto;
        color: white;
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 90%;
        border-top: 2px solid white;
        margin-top: 50px;
        background-color: #0a1525;
        font-family: czcionka2;

    }
@media all and (min-width: 1000px){
     #menu2{
         font-family: "czcionka1";
         color: black;
        top: 0;
        left:0;
        z-index: 2;
        position: fixed;
        width: 100%;
        height: 5em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        background-color: #ededed;

    }
    #menu2 > ul{
        list-style-type: none;
        width: 100%;
        height: 100%;

    }
    #menu2 li{
        float: left;
        width: 24%;
        height: 100%;
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;

        &:hover{
        font-weight: 700;
        }
    }
    #menu2 li a{
        color: #0a1525;
        text-decoration: none;
        font-size: calc(0.5vw + 0.6vh + 5px);
    }
    #menu2 li a::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0px;
        width: 100%;
        height: 2px;
        background-color:#0a1525 ; /* Kolor linii */
        transform: scaleX(0); /* Początkowo linia niewidoczna */
        transition: transform 0.4s ease; /* Animacja pojawienia się linii */
    }
    #menu2 li:hover a::after{
        transform: scaleX(1);
        

    }
    #menu input{
        display: none;
    }
    #menu img{
        width: 0px;
        display: none;
    }
    /*footer*/

}
